.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .main-logo {
    margin-top: 40px;
    width: 200px;
    animation: slideFromTop 1s ease-out forwards;
  }

  .bounce-animated {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: #ff0062;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: slideFromBottom 1s ease-out forwards;
    transition: scale 0.2s ease;
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 0.95;
    }
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}